<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmsConsoleService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmsConsoleService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<system.web>
		<authentication mode="Windows" />
	</system.web>
	<userSettings>
        <SmsConsoleService.Properties.Settings>
               <setting name="username" serializeAs="String">
                      <value>CEO</value>
               </setting>
               <setting name="password" serializeAs="String">
                      <value>Mafanikio2024</value>
               </setting>
               <setting name="domain" serializeAs="String">
                      <value>mafanikio_server.mafanikiosacco.com</value>
               </setting>
        </SmsConsoleService.Properties.Settings>
    </userSettings>
 <applicationSettings>
  <SmsConsoleService.Properties.Settings>
   <setting name="SmsConsoleService_NAVWEBREF_SURESMSSERVICE" serializeAs="String">
    <value>http://desktop-854kji4:1047/BC130/WS/Vision%20Sacco%20Ltd./Codeunit/SURESMSSERVICE</value>
   </setting>
   <setting name="SmsConsoleService_smsReference_SURESMSSERVICE"
    serializeAs="String">
    <value>http://mafanikio_server.mafanikiosacco.com:7047/BC230/WS/MAFANIKIO%20SACCO/Codeunit/SURESMSSERVICE</value>
   </setting>
   <setting name="SmsConsoleService_CloudPESAMB_CPMOBILE" serializeAs="String">
    <value>http://192.168.3.2:7047/BC230/WS/MAFANIKIO%20SACCO/Codeunit/CPMOBILE</value>
   </setting>
  </SmsConsoleService.Properties.Settings>
 </applicationSettings>
</configuration>